@import '../../../scss/variables';
@import '../../../scss/mixins';

.tile {
  background-color: $color-main;
  color: $color-text;
  border: none;
  width: 80px;
  height: 80px;
  padding: 0;
  font-size: 3rem;
  border-radius: 0.5rem;
  text-align: center;
  @include center;
  transition: all 0.3s ease-out;
  user-select: none;
}