@import '../../../scss/variables';
@import '../../../scss/mixins';

.tile {
  background-color: $color-main;
  color: $color-text;
  border: none;
  width: 100px;
  height: 100px;
  font-size: 3.5rem;
  border-radius: 0.5rem;
  text-align: center;
  @include center;
  transition: all 0.3s ease-out;
  transform: scale(1);

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.1);
  }
}