.game {
  &__title {
    font-size: 5rem;
    font-weight: 400;
    word-spacing: 0;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__description {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
  }
}