@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
@import 'scss/variables';
@import 'scss/mixins';

.app {
  @include center;
  flex-direction: column;
  background-color: $color-background;
  color: $color-text;
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}